<form class="new_thought" id="new_thought" action="/thoughts" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <div class="field">
    <label for="thought_content">Content</label>
    <input type="text" name="thought[content]" id="thought_content" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Thought" data-disable-with="Create Thought" />
  </div>
</form>



